<!-- Product Information Section -->
<div class="product-info">
    <h1 class="product-name">Headphones</h1>
    <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
    <div class="product-price">
      <span>$199.99</span>
      <button class="cart-btn">Add to Cart</button>
    </div>
    <div class="product-color">
      <h2>Color:</h2>
      <div class="color-choose">
        <input type="radio" id="red" name="color" data-image="red">
        <label for="red"><span style="background-color: #C91524;"></span></label>
        <input type="radio" id="blue" name="color" data-image="blue">
        <label for="blue"><span style="background-color: #314780;"></span></label>
        <input type="radio" id="black" name="color" data-image="black">
        <label for="black"><span style="background-color: #323232;"></span></label>
      </div>
    </div>
    <div class="cable-configuration">
      <h2>Cable Configuration:</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>